<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>작업제목1</string>
		<key>due</key>
		<date>2021-07-30T06:20:53Z</date>
		<key>memo</key>
		<string>작업메모1</string>
		<key>shouldNotify</key>
		<true/>
		<key>id</key>
		<string>1001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>작업제목2</string>
		<key>due</key>
		<date>2021-07-30T06:20:57Z</date>
		<key>memo</key>
		<string>작업메모2</string>
		<key>shouldNotify</key>
		<false/>
		<key>id</key>
		<string>1002</string>
	</dict>
</array>
</plist>
